*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    min-height: 100vh;
}
a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 180px;
    padding: 15px 30px;
}
a:hover{
    color: #fff;
    background-color:  #4666FF;
    box-shadow: 0 0 50px  #4666FF;
}
